<nav class="navbar navbar-fixed-top">
  <img alt="logo" src="static/images/farmatodo_fondo_azul.jpg">
  <button class="btn btn-danger pull-right"
    style="margin:1%;"  
   	ui-sref="login">
    <span class="glyphicon glyphicon-log-out">
      {{ 'TAG_LOGOUT' | translate }}
    </span>
  </button>
  <button class="btn btn-primary pull-right"
    style="margin:1%;" 
    ui-sref="profile">
    <span class="glyphicon glyphicon-user">
      {{ 'TAG_PROFILE' | translate }}
    </span>
  </button>
</nav>