<div class="modal-header">
  <h3 class="modal-title">{{ 'TAG_NEW_PROFILE' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">

  <div ng-show="vm.insercion"> {{ 'TAG_PROFILES_ADD_PROCESS' | translate }} </div>
  <div ng-if="(!vm.error && !vm.isercion)"> {{ 'TAG_PROFILES_ADD_SUCCESS' | translate }} </div>
  <div ng-if="vm.error"> {{ 'TAG_PROFILES_ADD_FAILURE' | translate }} </div>

</div>
<div class="modal-footer">
  <button
          class = "btn btn-primary"
          type="button"
          ng-click="vm.ok()">
    <span class="glyphicon glyphicon-ok">
    	{{ 'TAG_ACCEPT' | translate }}
    </span>
  </button>
</div>