<div class="modal-header">
  <h3 class="modal-title">{{ 'TAG_PROFILES_MASSIVE_TITLE' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">
  <div ng-show="vm.message">
    <label>{{ 'TAG_PROFILES_CHOOSE' | translate }}</label>
    <select ng-model="vm.role">
      <option ng-repeat="option in vm.roles" 
      value="{{option.name}}">
        {{option.name}} 
      </option>
    </select>
  </div>
  <div ng-show="vm.message"> 
    {{ 'TAG_PROFILES_MASSIVE_PLUS' | translate }}
  </div>
  <div ng-if="!vm.message"> 
    {{ 'TAG_PROFILES_MASSIVE_SUCCESS' | translate }}
  </div>
</div>
<div class="modal-footer">
  <button 
  class="btn btn-success"  
  type="button"
  ng-show="vm.message" 
  ng-click="vm.addRoleMassive()">
    <span class="glyphicon glyphicon-ok">
      {{ 'TAG_ACCEPT' | translate }}
    </span>
  </button>
  <button 
  class="btn btn-danger"  
  type="button"
  ng-show="vm.message"  
  ng-click="vm.cancel()">
    <span class="glyphicon glyphicon-remove">
      {{ 'TAG_CANCEL' | translate }}
    </span>
  </button>
  <button 
  class="btn btn-primary"  
  type="button"
  ng-show="!vm.message" 
  ng-click="vm.ok()">
    <span class="glyphicon glyphicon-ok">
      {{ 'TAG_ACCEPT' | translate }}
    </span>
  </button>
</div>