<div class="modal-header">
  <h3 class="modal-title">{{ 'TAG_PROFILE_DETAIL' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">
  <div> {{ 'TAG_NOMBRE_PROFILE' | translate }}: {{ vm.detail.cedula }} </div>
  <div> {{ 'TAG_NAME' | translate }}: {{ vm.detail.name }} </div>
  <div> {{ 'TAG_EMAIL' | translate }}: {{ vm.detail.email }} </div>
  <div> {{ 'TAG_PHONENUMBER' | translate }}: {{ vm.detail.phone }} </div>
  <div> {{ 'TAG_APP' | translate }}: {{ vm.detail.app }} </div>
  <div> {{ 'TAG_PROFILES' | translate }}: {{ vm.detail.role }} </div>
  <div> {{ 'TAG_STATUS' | translate }}: {{ vm.detail.status }} </div>
  
</div>
<div class="modal-footer">
  <button 
  class="btn btn-primary"  
  type="button" 
  ng-click="vm.ok()">
    <span class="glyphicon glyphicon-ok">
      {{ 'TAG_ACCEPT' | translate }}
    </span>
  </button>
</div>