<div class="modal-header">
  <h3 class="modal-title">{{ 'TAG_USERINFO' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">
  <div> {{ 'TAG_CEDULA' | translate }}: {{ vm.user.cedula }} </div>
  <div> {{ 'TAG_NAME' | translate }}: {{ vm.user.nombre }} </div>
  <div> {{ 'TAG_EMAIL' | translate }}: {{ vm.user.email }} </div>
  <div> {{ 'TAG_PHONENUMBER' | translate }}: {{ vm.user.phone }} </div>
  <div> {{ 'TAG_STATUS' | translate }}: {{ vm.user.status }} </div>
  
</div>
<div class="modal-footer">
  <button 
  class="btn btn-primary"  
  type="button" 
  ng-click="vm.cerrar()">
    <span class="glyphicon glyphicon-ok">
      {{ 'TAG_ACCEPT' | translate }}
    </span>
  </button>
</div>