<div class="modal-header">
  <h3 class="modal-title">{{ 'TAG_DETAIL' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">
  <div> {{ 'TAG_NAME' | translate }}: {{ vm.detail.name }} </div>
  <div> {{ 'TAG_STATUS' | translate }}: {{ vm.detail.status }} </div>
  <div> {{ 'TAG_URL' | translate }}: {{ vm.detail.url }} </div>
  
</div>
<div class="modal-footer">
  <button 
  class="btn btn-primary"  
  type="button" 
  ng-click="vm.ok()">
    <span class="glyphicon glyphicon-ok">
      {{ 'TAG_ACCEPT' | translate }}
    </span>
  </button>
</div>