<div class="modal-header">
  <h3 class="modal-title">{{ 'TAG_SERVICE_STATUS' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">
  <div ng-show="vm.statusSuccess"> {{ 'TAG_SERVICE_STATUS_MODIFY' | translate }} {{vm.status.name}} ?</div>
  <div ng-if="!vm.statusSuccess"> {{ 'TAG_SERVICE_STATUS_SUCCESS' | translate }} </div>
</div>
<div class="modal-footer">
  <button 
  class="btn btn-primary"
  type="button"
  ng-show="vm.statusSuccess" 
  ng-click="vm.modifyStatus(func)">
    <span class="glyphicon glyphicon-ok">
      {{ 'TAG_ACCEPT' | translate }}
    </span>
  </button>
  <button 
  class="btn btn-danger"  
  type="button"
  ng-show="!vm.button"  
  ng-click="vm.cancel()">
    <span class="glyphicon glyphicon-remove">
      {{ 'TAG_CANCEL' | translate }}
    </span>
  </button>
  <button 
  class="btn btn-primary"  
  type="button"
  ng-show="vm.button" 
  ng-click="vm.ok()">
    <span class="glyphicon glyphicon-ok">
      {{ 'TAG_ACCEPT' | translate }}
    </span>
  </button>
</div>