<div class="modal-header">
    <h3 class="modal-title">{{ 'TAG_TEAM_CREATE_PROCESS' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">

    <div ng-show="vm.process"> {{ 'TAG_TEAM_CREATE_PROCESS' | translate }} </div>
    <div ng-if="vm.success"> {{ 'TAG_TEAM_REGISTER_SUCCESS' | translate }} </div>
    <div ng-if="vm.failure"> {{ 'TAG_TEAM_REGISTER_FAILURE' | translate }} </div>
    <div ng-if="vm.authorized"> {{ 'TAG_USER_REGISTER_AUTHORIZED' | translate }} </div>
    <div ng-if="vm.nonexistent"> {{ 'TAG_USER_REGISTER_NONEXISTENT' | translate }} </div>

</div>
<div class="modal-footer">
    <button
            class = "btn btn-primary"
            ng-show="vm.button"
            type="button"
            ng-click="vm.ok()">
    <span class="glyphicon glyphicon-ok">
    	{{ 'TAG_ACCEPT' | translate }}
    </span>
    </button>
    <button
            class = "btn btn-primary"
            ng-show="vm.button1"
            type="button"
            ng-click="vm.close()">
    <span class="glyphicon glyphicon-ok">
    	{{ 'TAG_BACK' | translate }}
    </span>
    </button>

</div>