<div class="modal-header" align="center">
    <h3 class="modal-title">{{ 'TAG_USER_DELETE' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">
    <div align="center" ng-show="!vm.success">
        {{ 'TAG_USER_CANCEL' | translate }}

    </div>
    <div align="center" ng-show = "vm.success">
        {{ 'TAG_USER_DELETE_SUCCESS' | translate }}
    </div>
</div>
<div class="modal-footer">
    <button
            class="btn btn-primary"
            type="button"
            ng-click="vm.deleteUser()">
            <span class="glyphicon glyphicon-ok">
              {{ 'TAG_ACCEPT' | translate }}
            </span>
    </button>
    <button
            class="btn btn-danger"
            type="button"
            ng-click="vm.ok()">
            <span class="glyphicon glyphicon-remove">
              {{ 'TAG_CANCEL' | translate }}
            </span>
    </button>
</div>