<div class="modal-header">
    <h3 class="modal-title">{{ 'TAG_TEAM_MODIFY' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">
    <div ng-show="vm.process"> {{ 'TAG_TEAM_CREATE_PROCESS' | translate }} </div>
    <div ng-if="vm.exito"> {{ 'TAG_TEAM_MODIFY_SUCCESS' | translate }} </div>
    <div ng-if="vm.failure"> {{ 'TAG_TEAM_MODIFY_FAILURE' | translate }} </div>
    <div ng-if="vm.error"> {{ 'TAG_TEAM_MODIFY_ERROR' | translate }} </div>
</div>
<div class="modal-footer">
    <button
            class = "btn btn-primary"
            ng-if="vm.success"
            type="button"
            ng-click="vm.ok()">
        <span class="glyphicon glyphicon-ok">
            {{ 'TAG_ACCEPT' | translate }}
        </span>
    </button>
    <button
            class = "btn btn-danger"
            ng-if="vm.error || vm.failure"
            type="button"
            ng-click="vm.close()">
        <span class="glyphicon glyphicon-remove">
            {{ 'TAG_CANCEL' | translate }}
        </span>
    </button>
</div>