<div class="modal-header" align="center">
    <h3 class="modal-title">{{'TAG_USER_ADD' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">
    <div align="center" ng-show="!vm.successUser">
      {{'TAG_USER_ADD_MESSAGE' | translate }}
    </div>
    <div align="center" ng-show = "vm.successUser">
        Usuario(s) agregado(s) exitosamente
    </div>

</div>
<div class="modal-footer" align="center">
    <button class="btn btn-danger" ng-click="vm.ok()">
        <span class="glyphicon glyphicon-remove">
            {{ 'TAG_CANCEL' | translate }}
        </span>
    </button>
    <button
            class = "btn btn-primary"
            ng-show="vm.button"
            type="button"
            ng-click="vm.saveUsers()">
        <span class="glyphicon glyphicon-ok">
            {{ 'TAG_ACCEPT' | translate }}
        </span>
    </button>
</div>