<div class="modal-header" align="center">
    <h3 class="modal-title">Agregar/Eliminar perfiles</h3>
</div>
<div style="text-align: center" class="modal-body">
    <div align="center" ng-show="!vm.successProfile">
        Si quiere guardar los cambios presione Aceptar
    </div>
    <div align="center" ng-show = "vm.successProfile">
        Perfiles modificados exitosamente
    </div>
</div>
<div class="modal-footer">
    <div class = "row">
        <div class = "col-md-4">
            <button
                    class="btn btn-warning"
                    type="button"
                    ng-click="vm.ok()">
                <span class="glyphicon glyphicon-step-backward">
                  {{ 'TAG_BACK' | translate }}
                </span>
            </button>
        </div>
        <div class="col-md-offset-4" ng-show="!vm.successProfile">
            <button
                    class="btn btn-primary"
                    type="button"
                    ng-click="vm.saveProfile()">
                <span class="glyphicon glyphicon-ok">
                  {{ 'TAG_ACCEPT' | translate }}
                </span>
            </button>
        </div>
    </div>

</div>