<div class="modal-header">
    <h3 class="modal-title">{{ 'TAG_TEAM_PROFILES_ADD' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">
    <div ng-show="vm.process"> {{ 'TAG_TEAM_PROFILES_ADD_SUCCESS' | translate }} </div>
    <div ng-if="vm.failure"> {{ ' TAG_TEAM_PROFILES_ADD_FAILURE' | translate }} </div>
</div>
<div class="modal-footer">
<!--    <button class="btn btn-danger" ng-click="vm.back1()">
        <span class="glyphicon glyphicon-remove">
            {{ 'TAG_CANCEL' | translate }}
        </span>
    </button>
    <button
            class = "btn btn-primary"
            ng-show="vm.button"
            type="button"
            ng-click="vm.ok1()">
            <span class="glyphicon glyphicon-ok">
                {{ 'TAG_ACCEPT' | translate }}
            </span>
    </button>-->
    <button class="btn btn-primary" ng-click="vm.back1()">
        <span class="glyphicon glyphicon-ok">
            {{ 'TAG_ACCEPT' | translate }}
        </span>
    </button>
</div>