<div style="text-align: center; padding-top:10%">
  <form name="vm.form" role="form" novalidate ng-submit="vm.login()">
    <div class="row clearfix">
      <div class="col-md-offset-4 col-md-4 well">
        <h4 style="text-align: center">{{ 'TAG_DATA' | translate }}</h4>
        <div class="row">
          <div class="col-md-12">
            <label for="username">
                {{ 'TAG_USERNAME' | translate }}
            </label>
            <input type="text" 
            class="form-control" 
            id="username" 
            name="username" 
            ng-model="vm.user.username"
            ng-pattern="/^[0-9a-zA-z_.-]+$/"
            ng-maxlength = "20"
            ng-minlength = "4"
            placeholder = "admin"
            required/>
            <div class="row">
              <div class="error"
              ng-show="vm.submitted && vm.form.username.$invalid">
                <small class="error" ng-show="vm.form.username.$error.required">
                  {{ 'TAG_USERNAME_REQUIRED' | translate }}
                </small>
                <small class="error" ng-show="vm.form.username.$error.pattern">
                  {{ 'TAG_USERNAME_FORMAT' | translate }}
                </small>
                <small class="error" ng-show="vm.form.username.$error.minlength">
                  {{ 'TAG_USERNAME_MIN' | translate }}
                </small>
                <small class="error" ng-show="vm.form.username.$error.maxlength">
                  {{ 'TAG_USERNAME_MAX' | translate }}
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label for="password">
              {{ 'TAG_PASSWORD' | translate }}
            </label>
            <input type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            ng-model="vm.user.password"
            placeholder = "123"
            required/>
            <div class="row">
              <div class="error"
              ng-show="vm.submitted && vm.form.password.$invalid">
                <small class="error" ng-show="vm.form.password.$error.required">
                  {{ 'TAG_PASSWORD_REQUIRED' | translate }}
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <button 
          type="submit" 
          id="submit" 
          class="btn-primary btn"
          style="margin:2%">
            {{ 'TAG_LOGIN' | translate }}
          </button>
        </div>
      </div>
    </div> 
  </form>
</div>