<div class="row clearfix col-md-12 column title">
    <h3>{{ 'TAG_USER_PROFILE' | translate }}</h3>
</div>
<tabset active="active">
    <tab index="0" heading="Perfil">
        <div class="tab-container">
            <div style="margin-top: 3%">
                <div class="col-md-offset-4 col-md-4">
                    <div ng-show="vm.error" align="center">
                        <div class="alert-info">
                            <h4>{{ 'TAG_USERINFO_ERROR' | translate }}</h4>
                        </div>
                    </div>
                    <div ng-show="!vm.error" align="center">
                        <div class="row text-info" ng-show="vm.profile.length===0">
                            <h3>{{ 'TAG_USERINFO_EMPTY' | translate }}</h3>
                        </div>
                        <div class="row">
                            <div >
                                <label>{{ 'TAG_CEDULA' | translate }}</label>
                                <label style="width:100%"
                                       class="form-control">
                                    {{vm.profile.cedula}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <label>{{ 'TAG_NAME' | translate }}</label>
                                <label style="width:100%"
                                       type="text" class="form-control"

                                       id="name"
                                       name="name"
                                       ng-pattern="/^[a-zA-z]+$/"
                                       ng-maxlength="20"
                                       required>{{vm.profile.name}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <label>{{ 'TAG_PHONENUMBER' | translate }}</label>
                                <label style="width:100%"
                                       class="form-control"

                                       id="phoneNumber"
                                       name="phoneNumber"
                                       ng-pattern="/^0([1-9]{3})-([0-9]{7})$/"
                                       placeholder="0426-7851236">{{vm.profile.phone}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <label>{{ 'TAG_EMAIL' | translate }}</label>
                                <label type="email"
                                       style="width:100%"
                                       class="form-control"
                                       id="userEmail"
                                       name="userEmail"
                                       placeholder="usuario@farmatodo.ve" required>{{vm.profile.email}}</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </tab>

    <tab index="1" heading="Grupos">
        <div class="tab-container">
            <div style="margin-top: 3%">
                <div class="col-md-offset-4 col-md-4">
                    <div ng-show="vm.error" align="center">
                        <div class="alert-info">
                            <h4>{{ 'TAG_USERGROUPS_ERROR' | translate }}</h4>
                        </div>
                    </div>
                    <div ng-show="!vm.error" align="center">
                        <div class="row text-info" ng-show="vm.profile.groups.length===0">
                            <h3>{{ 'TAG_USERGROUPS_EMPTY' | translate }}</h3>
                        </div>
                        <div class="row"ng-show="vm.profile.groups.length!==0">
                            <div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="group in vm.profile.groups">
                                        {{group}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab index="2" heading="Funcionalidades">
    <div class="tab-container">
        <div style="margin-top: 3%">
            <div class="col-md-offset-4 col-md-4">
                <div ng-show="vm.error" align="center">
                    <div class="alert-info">
                        <h4>{{ 'TAG_USERFUNCTIONALITIES_ERROR' | translate }}</h4>
                    </div>
                </div>
                <div ng-show="!vm.error" align="center">
                    <div class="row text-info" ng-show="vm.profile.functionalities.length===0">
                        <h3>{{ 'TAG_USERFUNCTIONALITIES_EMPTY' | translate }}</h3>
                    </div>
                    <div class="row" ng-show="vm.profile.functionalities.length!==0">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="functionality in vm.profile.functionalities">
                                    {{functionality}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </tab>
</tabset>
