<div class="row clearfix col-md-12 column title">
    <h3>{{ 'TAG_PROFILE' | translate }} Administacion</h3>
</div>
<div>
    <tabset active="active">
        <tab index="0" heading="General">
            <div class="tab-container">
                <form name="profileDetailForm">
                    <div style="margin-top: 3%">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4">
                                <label>{{ 'TAG_NAME' | translate }}</label>
                            </div>
                        </div>
                        <div class="vertical-center">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-4 column">
                                    <input style="width:100%"
                                           type="text" class="form-control"
                                           ng-model="vm.role.name"
                                           id="name"
                                           name="name"
                                           ng-pattern="/^[a-zA-z]+$/"
                                           ng-maxlength="30"
                                           placeholder="{{ 'TAG_PROFILES_NAME' | translate }}" required>
                                </div>
                                <div class="col-md-2" ng-repeat="permit in vm.permits">
                                    <label>
                                        <input type="checkbox" data-checklist-model="vm.permitType.selected" data-checklist-value="permit">
                                        {{permit.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 column">
                            <div class="row">
                                <div class="col-md-12 column" style="padding:1%">
                                    <div ng-show="vm.error" align="center">
                                        <div class="alert-info">
                                            <h4>{{ 'TAG_FUNCTIONALITIESINFO_ERROR' | translate }}</h4>
                                        </div>
                                    </div>
                                    <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column">
                                        <div class="row text-info" ng-show="vm.addProfiles.functionality.length===0">
                                            <h3>{{ 'TAG_FUNCTIONALITIESLIST_EMPTY' | translate }}</h3>
                                        </div>
                                        <div class="row" ng-show="vm.addProfiles.groupList.length > 0">
                                            <table class="table table-bordered table-striped" style="padding: 2%">
                                                <thead>
                                                <tr>
                                                    <th width="30%" style="text-align: center">
                                                        <a href="" ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                                                            {{ 'TAG_FUNCTIONALITY_NAME' | translate }}
                                        <span ng-show="sortType == 'nombre' && !sortReverse"
                                              class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'nombre' && sortReverse"
                                                          class="fa fa-caret-up"></span>
                                                        </a>
                                                    </th>
                                                    <th width="10%" style="text-align: center">
                                                        {{ 'TAG_ADD' | translate }}
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="functionality in vm.addProfiles.functionalityList | orderBy:sortType:sortReverse"
                                                    style="text-align: center">
                                                    <td style="text-align:center">
                                                        {{ functionality.nombre }}
                                                    </td>
                                                    <td style="text-align:center">
                                                        <input type="checkbox" data-checklist-model="vm.profile.functionalities"
                                                               data-checklist-value="functionality">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" align="center">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-ok" >
                                        Guardar
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
        <tab index="1" heading="Usuarios">
            <div class="tab-container">
                <div style="margin-top: 3%">
                    <div class="tab-container">
                        <div style="margin-top: 3%">
                            <div class = "row">
                                <div class="col-md-offset-1 col-md-4 column">
                                    <button class="btn btn-primary" ng-click="vm.addUser()">
                                      <span class="glyphicon glyphicon-plus">
                                        {{ 'TAG_USER_ADD' | translate }}
                                      </span>
                                    </button>
                                </div>
                            </div>
                            <div class="vertical-center">
                                <div class="container">
                                    <div class="row">
                                        <div class=" col-md-offset-4 col-md-2 column">
                                            <input ng-model="vm.userSearch" type="text" class="form-control" placeholder="Usuario" style="margin-left: 10%">
                                        </div>
                                        <div class="col-md-1 column">
                                            <button class="btn btn-primary" ng-click="vm.searchUsers()">
                                                <span class="glyphicon glyphicon-plus">
                                                  {{ 'TAG_SEARCH' | translate}}
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 column">
                                <div ng-show="vm.error" align="center" style="padding:1%">
                                    <div class="alert-info">
                                        <h4>{{ 'TAG_USERLIST_ERROR' | translate }}</h4>
                                    </div>
                                </div>
                                <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
                                    <div class="row text-info" ng-show="vm.user.length===0">
                                        <h3>{{ 'TAG_USERLIST_EMPTY' | translate }}</h3>
                                    </div>
                                    <div class="row" ng-show="vm.user.length > 0">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th width="10%" style="text-align: center">
                                                    <a href="" ng-click="sortType = 'cedula'; sortReverse = !sortReverse">
                                                        {{ 'TAG_USER_IDENTIFIER' | translate }}
                                                        <span ng-show="sortType == 'cedula' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'cedula' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                                <th width="30%" style="text-align: center">
                                                    <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                                        {{ 'TAG_NAME' | translate }}
                                                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                                <th width="10%" style="text-align: center">
                                                    <a href="" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                                                        {{ 'TAG_DELETE' | translate }}
                                                    </a>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="user in vm.user | orderBy:sortType:sortReverse" style="text-align: center">
                                                <td style="text-align:center">
                                                    {{ user.cedula }}
                                                </td>
                                                <td style="text-align:center">
                                                    {{ user.name }}
                                                </td>
                                                <td style="text-align:center">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor: pointer; color: red;" ng-style="{'color':'red'}" ng-click="vm.removeUser(user)">
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab index="1" heading="Grupos">
            <div class="tab-container">
                <div style="margin-top: 3%">
                    <div class = "row">
                        <div class="col-md-offset-1 col-md-4 column">
                            <button class="btn btn-primary" ng-click="vm.addTeam()">
                              <span class="glyphicon glyphicon-plus">
                                {{ 'TAG_TEAM_ADD' | translate }}
                              </span>
                            </button>
                        </div>
                    </div>
                    <div class="vertical-center">
                        <div class="container">
                            <div class="row">
                                <div class=" col-md-offset-4 col-md-2 column">
                                    <input ng-model="vm.teamSearch" type="text" class="form-control" placeholder="Grupo" style="margin-left: 10%">
                                </div>
                                <div class="col-md-1 column">
                                    <button class="btn btn-primary" ng-click="vm.searchTeams()">
                                    <span class="glyphicon glyphicon-plus">
                                      {{ 'TAG_SEARCH' | translate}}
                                    </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 column">
                        <div ng-show="vm.error" align="center" style="padding:1%">
                            <div class="alert-info">
                                <h4>{{ 'TAG_USERLIST_ERROR' | translate }}</h4>
                            </div>
                        </div>
                        <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
                            <div ng-show="vm.searching" align="center" style="padding:1%">
                                <div class="row text-info">
                                    <h3>{{ 'TAG_USERLIST_SEARCHING' | translate }}</h3>
                                </div>
                            </div>
                            <div class="row text-info" ng-show="vm.teams.length===0 && vm.searching === false" >
                                <h3>{{ 'TAG_USERLIST_EMPTY' | translate }}</h3>
                            </div>
                            <div class="row" ng-show="vm.teams.length > 0">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th width="10%" style="text-align: center">
                                            <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                                {{ 'TAG_TEAM' | translate }}
                                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>

                                        <th width="10%" style="text-align: center">
                                            <a href="" ng-click="sortType = 'users'; sortReverse = !sortReverse">
                                                {{ 'TAG_USERS' | translate }}
                                                <span ng-show="sortType == 'users' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'users' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th width="10%" style="text-align: center">
                                            <a href="" ng-click="sortType = 'profiles'; sortReverse = !sortReverse">
                                                {{ 'TAG_PROFILES' | translate }}
                                                <span ng-show="sortType == 'profiles' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'profiles' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th width="10%" style="text-align: center">
                                            <a href="" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                                                {{ 'TAG_DELETE' | translate }}
                                            </a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="team in vm.teams | orderBy:sortType:sortReverse" style="text-align: center">

                                        <td style="text-align:center">
                                            <a href="" ng-click="vm.showDetail(team)">
                                                {{ team.name }}
                                            </a>
                                        </td>
                                        <td style="text-align:center">

                                            {{team.users}}

                                        </td>
                                        <td style="text-align:center">

                                            {{team.profiles}}

                                        </td>
                                        <td style="text-align:center">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor: pointer; color: red;" ng-style="{'color':'red'}" ng-click="vm.removeGroup(team)">
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>