<div class="row clearfix col-md-12 column title">
    <h3>{{ 'TAG_NEW_PROFILE' | translate }} </h3>
</div>
<form name="profileForm" ng-submit="vm.submit()">
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <label>{{ 'TAG_NAME' | translate }}</label>
        </div>
    </div>
    <div class="vertical-center">
        <div class="row">
            <div class="col-md-offset-2 col-md-4 column">
                <input style="width:100%"
                       type="text" class="form-control"
                       ng-model="vm.role.name"
                       id="name"
                       name="name"
                       ng-pattern="/^[a-zA-z]+$/"
                       ng-maxlength="30"
                       placeholder="{{ 'TAG_PROFILES_NAME' | translate }}" required>
            </div>
            <div class="col-md-2" ng-repeat="permit in vm.permits">
                <label>
                    <input type="checkbox" data-checklist-model="vm.permitType.selected" data-checklist-value="permit">
                    {{permit.name}}
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-12 column">
        <div class="row">
            <div class="col-md-12 column" style="padding:1%">
                <div ng-show="vm.error" align="center">
                    <div class="alert-info">
                        <h4>{{ 'TAG_FUNCTIONALITIESINFO_ERROR' | translate }}</h4>
                    </div>
                </div>
                <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column">
                    <div class="row text-info" ng-show="vm.addProfiles.functionality.length===0">
                        <h3>{{ 'TAG_FUNCTIONALITIESLIST_EMPTY' | translate }}</h3>
                    </div>
                    <div class="row" ng-show="vm.addProfiles.groupList.length > 0">
                        <table class="table table-bordered table-striped" style="padding: 2%">
                            <thead>
                            <tr>
                                <th width="30%" style="text-align: center">
                                    <a href="" ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                                        {{ 'TAG_FUNCTIONALITY_NAME' | translate }}
                                        <span ng-show="sortType == 'nombre' && !sortReverse"
                                              class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'nombre' && sortReverse"
                                                          class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th width="10%" style="text-align: center">
                                    {{ 'TAG_ADD' | translate }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="functionality in vm.addProfiles.functionalityList | orderBy:sortType:sortReverse"
                                style="text-align: center">
                                <td style="text-align:center">
                                    {{ functionality.nombre }}
                                </td>
                                <td style="text-align:center">
                                    <input type="checkbox" data-checklist-model="vm.profile.functionalities"
                                           data-checklist-value="functionality">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" align="center">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-ok" >
                    {{ 'TAG_PROFILES_MASSIVE' | translate}}
                </span>
            </button>
            <button data-ui-sref="profiles" class="btn btn-warning" >
                <span class="glyphicon glyphicon-chevron-left" >
                    {{ 'TAG_BACK' | translate }}
                </span>
            </button>
        </div>
    </div>
</form>