<div class="row clearfix col-md-12 column title">
  <h3>{{ 'TAG_PROFILESLIST' | translate }}</h3>
</div>
<div class = "row">
  <div class="col-md-offset-1 col-md-4 column">
    <button class="btn btn-primary" data-ui-sref="profileAdd">
      <span class="glyphicon glyphicon-plus">
        {{ 'TAG_NEW_PROFILE' | translate }}
      </span>
    </button>
  </div>
</div>
<div class="vertical-center">
  <div class="container">
    <div class="row">
      <div class=" col-md-offset-4 col-md-2 column">
        <input ng-model="vm.profile" type="text" class="form-control" placeholder="Perfiles" style="margin-left: 10%">
      </div>
      <div class="col-md-1 column">
        <button class="btn btn-primary" ng-click="vm.searchProfiles()">
          <span class="glyphicon glyphicon-plus">
            {{ 'TAG_SEARCH' | translate}}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 column" style="padding:1%">
  <div ng-show="vm.error" align="center">
    <div class="alert-info">
      <h4>{{ 'TAG_PROFILESLIST_ERROR' | translate }}</h4>
    </div>
  </div>
  <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column">
    <div class="row text-info" ng-show="vm.profiles.length===0">
      <h3>{{ 'TAG_PROFILESLIST_EMPTY' | translate }}</h3>
    </div>
    <div class="row" ng-show="vm.profiles.length > 0">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th width="20%" style="text-align: center">
            <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
              {{ 'TAG_NAME' | translate }}
              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th width="10%" style="text-align: center">
            <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
              Estatus
              <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th width="10%" style="text-align: center">
            <a href="" ng-click="sortType = 'functions'; sortReverse = !sortReverse">
              Funciones
              <span ng-show="sortType == 'functions' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'functions' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th width="10%" style="text-align: center">
            <a href="" ng-click="sortType = 'groups'; sortReverse = !sortReverse">
              Grupos
              <span ng-show="sortType == 'groups' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'groups' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </th>
          <th width="10%" style="text-align: center">
              Copiar
          </th>
          <th width="15%" style="text-align: center">
            {{ 'TAG_ACTIVATE' | translate }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="profile in vm.profiles | orderBy:sortType:sortReverse" style="text-align: center">
          <td style="text-align:center">
            <a data-ui-sref="profiles_details" >
              {{ profile.name }}
            </a>
          </td>
          <td style="text-align:center">
            {{ profile.status }}
          </td>
          <td style="text-align:center">
            {{ profile.functions }}
          </td>
          <td style="text-align:center">
            {{ profile.groups }}
          </td>
          <td style="text-align:center" >
                <span class="glyphicon glyphicon glyphicon-copy"
                      aria-hidden="true"
                      style="cursor:pointer"
                      ng-style="{'color':'blue'}"
                      ng-click="vm.copyProfile(user)">
                </span>
          </td>
          <td style="text-align:center" >
                <span class="glyphicon glyphicon-off"
                      aria-hidden="true"
                      style="cursor:pointer"
                      ng-style="profile.status==='Activo' ? {'color':'green'} :  {'color':'red'}"
                      ng-click="vm.profilesStatusModal(profile)">
                </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>