<div class="row clearfix col-md-12 column title">
  <h3>{{ 'TAG_NEW_PROFILE' | translate }}</h3>
</div>
<form name="roleForm" ng-submit="vm.submit()">
  <div class="col-md-12 column">
    <div ng-show="vm.error" align="center">
      <div class="alert-info">
        <h4>{{ 'TAG_PROFILESINFO_ERROR' | translate }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-6">
          <label>{{ 'TAG_NAME' | translate }}</label>
          <input style="width:100%" 
          type="text" class="form-control"
          ng-model="vm.role.name"
          id="name"
          name="name"
          ng-pattern="/^[a-zA-z]+$/"
          ng-maxlength = "30"
          placeholder="Administrador" required>
      </div>
    </div>
    <div class="row">
      <div class="error col-md-offset-1 col-md-6"
           ng-show="roleForm.name.$dirty && roleForm.name.$invalid">
          <small class="error" ng-show="roleForm.name.$error.required">
            {{ 'TAG_NAME_ERROR' | translate }}
          </small>
          <small class="error" ng-show="roleForm.name.$error.pattern">
            {{ 'TAG_NAME_CHARS' | translate }}
          </small>
          <small class="error" ng-show="roleForm.name.$error.maxlength">
            {{ 'TAG_NAME_LENGHT' | translate }}
          </small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-6">
        <label>{{ 'TAG_APP' | translate }}</label>
        <select style="width:100%" 
          class="form-control"
          ng-model="vm.role.app"
          id="app"
          name="app">
          <option ng-repeat="option in vm.role.apps" value="{{option.app}}">{{option.app}}</option>
        </select>
      </div>
    </div>
    <div class="row">
        <div class="error col-md-offset-1 col-md-6"
             ng-show="roleForm.app.$invalid">
            <small class="error" ng-show="roleForm.app.$error.pattern">
              {{ 'TAG_APP_ERROR' | translate }}
            </small>
        </div>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-4" style="padding-top:1%">
    <button button="submit" class="btn btn-primary">
      <span class="glyphicon glyphicon-ok">
        {{ 'TAG_ADD' | translate }}
      </span>
    </button>
  </div>
</form>
<div class="row clearfix col-md-12"></div>
<div class="col-md-2 col-md-offset-2">
  <button class="btn btn-warning" ng-click="vm.back()">
    <span class="glyphicon glyphicon-chevron-left">
      {{ 'TAG_BACK' | translate }}
    </span>
  </button>
</div>