<div class="row clearfix col-md-12 column title">
	<h3>{{ 'TAG_USERLIST' | translate }}</h3>
</div>
<div class="col-md-12 column">
  <div ng-show="vm.error" align="center">
    <div class="alert-info">
      <h4>{{ 'TAG_USERLIST_ERROR' | translate }}</h4>
    </div>
  </div>
  <div class="col-md-offset-1 col-md-4 column">
    <button class="btn btn-primary" 
     ng-click="vm.addRoleMassiveModal()">
      <span class="glyphicon glyphicon-plus">
        {{ 'TAG_PROFILES_MASSIVE_ADD' | translate }}
      </span>
    </button>
  </div>
  <div class="col-md-12 column"></div>
  <div class="col-md-offset-1 col-md-4 column" style="padding:1%">
    <button class="btn btn-default" 
     ng-click="vm.removeRoleMassiveModal()">
      <span class="glyphicon glyphicon-minus">
        {{ 'TAG_PROFILES_MASSIVE_REMOVE' | translate }}
      </span>
    </button>
  </div>  
  <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column">
    <div class="row text-info" ng-show="vm.user.length===0">
      <h3>{{ 'TAG_USERLIST_EMPTY' | translate }}</h3>
    </div>
    <div class="row" ng-show="vm.user.length > 0">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="10%" style="text-align: center">
              {{ 'TAG_SELECT' | translate }}  
            </th>
            <th width="10%" style="text-align: center">
              <a href="" ng-click="sortType = 'cedula'; sortReverse = !sortReverse">
                {{ 'TAG_CEDULA' | translate }}  
	              <span ng-show="sortType == 'cedula' && !sortReverse" class="fa fa-caret-down"></span>
	              <span ng-show="sortType == 'cedula' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="30%" style="text-align: center">
              <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                {{ 'TAG_NAME' | translate }}  
	              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
	              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            	</a>
            </th>
            <th width="10%" style="text-align: center">
              <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                {{ 'TAG_STATUS' | translate }}
                <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="10%" style="text-align: center">
              <a href="" ng-click="sortType = 'role'; sortReverse = !sortReverse">
                {{ 'TAG_PROFILES' | translate }}
                <span ng-show="sortType == 'role' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'role' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="10%" style="text-align: center">
              <a href="" ng-click="sortType = 'app'; sortReverse = !sortReverse">
                {{ 'TAG_APP' | translate }}
                <span ng-show="sortType == 'app' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'app' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in vm.user | orderBy:sortType:sortReverse" style="text-align: center">
            <td>
              <input type="checkbox"
              ng-click="vm.selectUser(user)">
            </td>
            <td style="text-align:center">
              {{ user.cedula }}
            </td>
            <td style="text-align:center">
              <a href="" ng-click="vm.showDetail(user)">
                {{ user.name }}
              </a>
            </td>
            <td style="text-align:center">
              {{ user.status }}
            </td>
            <td style="text-align:center">
              {{ user.role }}
            </td>
            <td style="text-align:center">
              {{ user.app }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>