<ul class="nav nav-sidebar text-center" >
  <li ng-repeat="item in items"
    style="cursor:pointer;"
  	ng-click="go(item)"
    ui-sref-active="active">
      <a ng-class="item.icon"
        data-ui-sref="{{ item.state }}">
        {{ item.text | translate }}
      </a>
  </li>
</ul>
<!--
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a>Home</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">Menu 1
      <span class="caret"></span></a>
    <ul class="dropdown-menu" style="cursor:pointer;">
      <li><a >Submenu 1-1</a></li>
      <li><a >Submenu 1-2</a></li>
      <li><a >Submenu 1-3</a></li>
    </ul>
  </li>
  <li><a href="#">Menu 2</a></li>
  <li><a href="#">Menu 3</a></li>
</ul>-->
