<div class="modal-header">
    <h3 class="modal-title">{{ 'TAG_LOGIN' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">
  <div ng-show="vm.process"> {{ 'TAG_LOGIN_PROCESS' | translate }} </div>
  <div ng-if="vm.success"> {{ 'TAG_LOGIN_SUCCESS' | translate }} </div>
  <div ng-if="vm.failure"> {{ 'TAG_LOGIN_FAILURE' | translate }} </div>
  <div ng-if="vm.unauthorized"> {{ 'TAG_LOGIN_UNAUTHORIZED' | translate }} </div>
  <div ng-if="vm.nonexistent"> {{ 'TAG_LOGIN_NON_EXISTENT' | translate }} </div>
  <div ng-if="vm.secondtry"> {{ 'TAG_LOGIN_SECOND_TRY' | translate }} </div>
  <div ng-if="vm.thirdtry"> {{ 'TAG_LOGIN_THIRD_TRY' | translate }} </div>
  <div ng-if="vm.blocked"> {{ 'TAG_LOGIN_USER_BLOCKED' | translate }} </div>
</div>

<div class="modal-footer">
  <button 
    class = "btn btn-primary" 
    ng-if="vm.success" 
    type="button" 
    ng-click="vm.continue()">
    <span class="glyphicon glyphicon-ok">
      {{ 'TAG_ACCEPT' | translate }}
    </span>
  </button>
  <button 
    class = "btn btn-primary" 
    ng-if="vm.failure || vm.unauthorized || vm.nonexistent || vm.secondtry || vm.thirdtry || vm.blocked"
    type="button" 
    ng-click="vm.return()">
    <span class="glyphicon glyphicon-remove">
        {{ 'TAG_CANCEL' | translate }}
    </span>
  </button>
</div>