<div class="row clearfix col-md-12 column title">
  <h3>{{ 'TAG_FUNCTION_DETAIL' | translate }}</h3>
</div>
<div class="tab-container">
  <div class="col-md-12 column" style="padding:1%">
    <div ng-show="vm.error" align="center">
      <div class="alert-info">
        <h4>{{ 'TAG_ROLELIST_ERROR' | translate }}</h4>
      </div>
    </div>
    <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column">
      <div class="row text-info" ng-show="vm.services.length===0">
        <h3>{{ 'TAG_ROLELIST_EMPTY' | translate }}</h3>
      </div>
      <div class="row" ng-show="vm.services.length > 0">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th width="10%" style="text-align: center">
              <a href="" ng-click="sortType = 'type'; sortReverse = !sortReverse">
                {{ 'TAG_TYPE' | translate }}
                <span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="30%" style="text-align: center">
              <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                {{ 'TAG_NAME' | translate }}
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="10%" style="text-align: center">
              <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                {{ 'TAG_STATUS' | translate }}
                <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="10%" style="text-align: center">
              <a href="" ng-click="sortType = 'app'; sortReverse = !sortReverse">
                {{ 'TAG_URL' | translate }}
                <span ng-show="sortType == 'app' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'app' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="15%" style="text-align: center">
              {{ 'TAG_ACTIVATE' | translate }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="service in vm.services | orderBy:sortType:sortReverse" style="text-align: center">
            <td style="text-align:center">
                {{ service.type }}
            </td>
            <td style="text-align:center">
              <a href="" ng-click="vm.showDetail(user)">
                {{ service.name }}
              </a>
            </td>
            <td style="text-align:center">
              {{ service.status }}
            </td>
            <td style="text-align:center">
              {{ service.url }}
            </td>
            <td style="text-align:center" >
                <span class="glyphicon glyphicon-off"
                      aria-hidden="true"
                      style="cursor:pointer"
                      ng-style="service.status==='Activo' ? {'color':'green'} :  {'color':'red'}"
                      ng-click="vm.serviceStatusModal(service)">
                </span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>