<div class="row clearfix col-md-12 column title">
  <h3>{{ 'TAG_FUNCTION_LIST' | translate }}</h3>
</div>
<div class = "row">
  <div class="col-md-offset-1 col-md-4">
  </div>
</div>
<br><br>
<div class="vertical-center">
  <div class="container">
    <div class="row">
      <div class=" col-md-offset-4 col-md-2 column">
        <input ng-model="vm.functionSearch" type="text" class="form-control" placeholder="Funcion" style="margin-left: 10%">
      </div>
      <div class="col-md-1 column">
        <button class="btn btn-primary" ng-click="vm.searchFunctions()">
          <span class="glyphicon glyphicon-plus">
            {{ 'TAG_SEARCH' | translate}}
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-md-12 column">
  <div ng-show="vm.error" align="center">
    <div class="alert-info">
      <h4>{{ 'TAG_SERVICE_ERROR' | translate }}</h4>
    </div>
  </div>
  <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column">
    <div class="row text-info" ng-show="vm.func.length===0">
      <h3>{{ 'TAG_SERVICE_EMPTY' | translate }}</h3>
    </div>
    <div class="row" ng-show="vm.func.length > 0">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th width="30%" style="text-align: center">
              <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                {{ 'TAG_NAME' | translate }}  
                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="10%" style="text-align: center">
              <a href="" ng-click="sortType = 'services'; sortReverse = !sortReverse">
                Servicios
                <span ng-show="sortType == 'services' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'services' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="15%" style="text-align: center">
              <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                {{ 'TAG_STATUS' | translate }}
                <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="15%" style="text-align: center">
              <a href="" ng-click="sortType = 'venezuela'; sortReverse = !sortReverse">
                Venezuela
                <span ng-show="sortType == 'venezuela' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'venezuela' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="15%" style="text-align: center">
              <a href="" ng-click="sortType = 'colombia'; sortReverse = !sortReverse">
                Colombia
                <span ng-show="sortType == 'colombia' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'colombia' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </th>
            <th width="15%" style="text-align: center">
              {{ 'TAG_ACTIVATE' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="func in vm.func | orderBy:sortType:sortReverse" style="text-align: center">
            <td style="text-align:center">
              <a href="" ng-click="vm.showDetail(func)">
                {{ func.name }}
              </a>
            </td>
            <td style="text-align:center">
              {{ func.services }}
            </td>
            <td style="text-align:center">
              {{ func.status }}
            </td>
            <td style="text-align:center">
              <input type="checkbox" data-checklist-model="vm.countrySelected.venezuela"
                     data-checklist-value="func">
            </td>
            <td style="text-align:center">
              <input type="checkbox" data-checklist-model="vm.countrySelected.colombia"
                     data-checklist-value="func">
            </td>
            <td style="text-align:center" >
              <span class="glyphicon glyphicon-off"
                aria-hidden="true"
                style="cursor:pointer"
                ng-style="func.status==='Activo' ? {'color':'green'} :  {'color':'red'}"
                ng-click="vm.funcStatusModal(func)">
              </span>
            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>