.navbar{
	background-color:rgb(255,255,255);	
}

.title{
	padding:3%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.sidebar {
  position: fixed;
  top: 20%;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 1%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(28,55,102); 
}


/* Navegación del sidebar  */
.nav-sidebar {
  margin-right: -2%;
  margin-left: -2%;
}
.nav-sidebar > li {
  margin-top: 1%;
  margin-bottom: 1%;
  color: #FFF;
}
.nav-sidebar > li > a {
  padding-right: 2%;
  padding-left: 2%;
  color: #FFF;
}
.nav-sidebar > li > a:hover {
  background-color: transparent;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #000;
  background-color: #FFFFFF;
}