.navbar{
	background-color:rgb(28,55,102);	
}

.title{
	padding:3%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.sidebar {
  position: fixed;
  top: 11%;
  width: 10%;
  bottom: 3%;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 1%;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgb(28,55,102); 
}

#footer{
  position:fixed;
  height:3%;
  z-index: 1001;
  background-color:rgb(28,55,102);
  bottom:0px;
  left:0px;
  right:0px;
  margin-bottom:0px;
}

.nav {
  margin-left: 1%;
}

/* Navegación del sidebar  */
.nav-sidebar {
  margin-right: -2%;
  margin-left: -2%;
}
.nav-sidebar > li {
  margin-top: 1%;
  margin-bottom: 1%;
  color: #FFF;
}
.nav-sidebar > li > a {
  padding-right: 2%;
  padding-left: 2%;
  color: #FFF;
}
.nav-sidebar > li > a:hover {
  background-color: transparent;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #000;
  background-color: #FFFFFF;
}

body{
  font-family: Verdana;
}

/*Para centrar elementos en un row*/
.vertical-center .row {
  align-items: center;
  display: flex;
}

.modal-header {
  text-align: center;
}

.modal-footer {
  text-align: center;
}

/*
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E; }}*/
