<div class="row clearfix col-md-12 column title">
    <h3>{{ 'TAG_DETAIL' | translate }}</h3>
</div>
<div>
    <tabset active="active">
        <tab index="0" heading="General">
            <div class="tab-container">
                <form name="userForm">
                    <div style="margin-top: 3%">
                        <div class="col-md-offset-2 col-md-4 column" align="center">
                            <div ng-show="vm.error" align="center">
                                <div class="alert-info">
                                    <h4>{{ 'TAG_USERINFO_ERROR' | translate }}</h4>
                                </div>
                            </div>
                            <div ng-show="!vm.error" align="center" class="column">
                                <div class="row text-info" ng-show="vm.user.length===0">
                                    <h3>{{ 'TAG_USERINFO_EMPTY' | translate }}</h3>
                                </div>
                                <div class="row">
                                    <div>
                                        <label>{{ 'TAG_CEDULA' | translate }}</label>
                                        <input style="width:100%"
                                               type="text" class="form-control"
                                               ng-model="vm.user.cedula" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <label>{{ 'TAG_NAME' | translate }}</label>
                                        <input style="width:100%"
                                               type="text" class="form-control"
                                               ng-model="vm.user.name"
                                               id="name"
                                               name="name"
                                               ng-pattern="/^[a-zA-z]+$/"
                                               ng-maxlength = "20"
                                               placeholder="Pascual Jose" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="error"
                                         ng-show="userForm.name.$dirty && userForm.name.$invalid">
                                        <small class="error" ng-show="userForm.name.$error.required">
                                            {{ 'TAG_NAME_ERROR' | translate }}
                                        </small>
                                        <small class="error" ng-show="userForm.name.$error.pattern">
                                            {{ 'TAG_NAME_CHARS' | translate }}
                                        </small>
                                        <small class="error" ng-show="userForm.name.$error.maxlength">
                                            {{ 'TAG_NAME_LENGHT' | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <label>{{ 'TAG_PHONENUMBER' | translate }}</label>
                                        <input style="width:100%"
                                               class="form-control"
                                               ng-model="vm.user.phone"
                                               id="phoneNumber"
                                               name="phoneNumber"
                                               ng-pattern="/^0([1-9]{3})-([0-9]{7})$/"
                                               placeholder="0426-7851236" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="error"
                                         ng-show="userForm.phoneNumber.$invalid">
                                        <small class="error" ng-show="userForm.phoneNumber.$error.pattern">
                                            {{ 'TAG_PHONENUMBER_ERROR' | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <label>{{ 'TAG_EMAIL' | translate }}</label>
                                        <input type="email"
                                               style="width:100%"
                                               class="form-control"
                                               ng-model="vm.user.email"
                                               id="userEmail"
                                               name="userEmail"
                                               placeholder="usuario@farmatodo.ve" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="error"
                                         ng-show="userForm.userEmail.$dirty && userForm.userEmail.$invalid">
                                        <small class="error" ng-show="userForm.userEmail.$error.required">
                                            {{ 'TAG_EMAIL_ERROR' | translate }}
                                        </small>
                                        <small class="error" ng-show="userForm.userEmail.$error.email">
                                            {{ 'TAG_EMAIL_FORMAT' | translate }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-offset-1 col-md-5 column" align="center" style="margin-top: 3%">
                            <div class="col-md-offset-2 col-md-6 well">
                                <div class="row">
                                    <h4>Paises Permitidos</h4>
                                </div>
                                <div>
                                    <div class="row" style="margin-top:4%">
                                        <div ng-repeat="country in vm.countries">
                                            <label>
                                                <input type="checkbox"
                                                       data-checklist-model="vm.countryPreferences.selected"
                                                       data-checklist-value="country">
                                                {{country.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 4%">
                                        <button class="btn btn-primary" ng-click="vm.saveCountryPreferences()">
                                            <span class="glyphicon glyphicon-save ng-binding">
                                              {{ 'TAG_SAVE' | translate }}
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </tab>
        <tab index="1" heading="Grupos">
            <div class="tab-container">
                <div style="margin-top: 3%">
                    <div class="vertical-center">
                        <div class="container">
                            <div class="row">
                                <div class=" col-md-offset-4 col-md-2 column">
                                    <input ng-model="vm.group" type="text" class="form-control" placeholder="Grupo" style="margin-left: 10%">
                                </div>
                                <div class="col-md-1 column">
                                    <button class="btn btn-primary" ng-click="vm.searchGroup()">
                                    <span class="glyphicon glyphicon-search">
                                      {{ 'TAG_SEARCH' | translate}}
                                    </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12 column">
                        <div ng-show="vm.error" align="center" style="padding:1%">
                            <div class="alert-info">
                                <h4>{{ 'TAG_USERLIST_ERROR' | translate }}</h4>
                            </div>
                        </div>
                        <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column">
                            <div class="row text-info" ng-show="vm.allGroups.length===0">
                                <h3>{{ 'TAG_USERLIST_EMPTY' | translate }}</h3>
                            </div>
                            <div class="row" ng-show="vm.allGroups.length > 0">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th width="40%" style="text-align: center">
                                            <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                                {{ 'TAG_NAME' | translate }}
                                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th width="10%" style="text-align: center">
                                            <a href="" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                                                {{ 'TAG_ADD_DELETE' | translate }}
                                            </a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="group in vm.allGroups | orderBy:sortType:sortReverse | filter:vm.searchFilter" style="text-align: center">
                                        <td style="text-align:center">
                                            <a href="" ng-click="vm.showDetail(group)">
                                                {{ group.name }}
                                            </a>
                                        </td>
                                        <td style="text-align:center">
                                            <input type="checkbox" checklist-model="vm.groupsSelected" checklist-value="group"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 column">
                            <div align="center">
                                <div class="row">
                                    <button class="btn btn-primary" ng-click="vm.saveGroup()">
                                        <span class="glyphicon glyphicon-save ng-binding">
                                          {{ 'TAG_SAVE' | translate }}
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab index="1" heading="Perfiles">
            <div class="tab-container">
                <div style="margin-top: 3%">
                    <div class = "row">
                        <div class="col-md-offset-1 col-md-4 column" ng-show="!vm.showNewProfile">
                            <button class="btn btn-primary" ng-click="vm.newProfile()">
                              <span class="glyphicon glyphicon-plus">
                                {{'TAG_NEW_PROFILE' | translate}}
                              </span>
                            </button>
                        </div>
                    </div>
                    <div class="vertical-center">
                        <div class="container">
                            <div class="row">
                                <div class=" col-md-offset-4 col-md-2 column">
                                    <input ng-model="vm.profile" type="text" class="form-control" placeholder="Perfiles" style="margin-left: 10%">
                                </div>
                                <div class="col-md-1 column">
                                    <button class="btn btn-primary" ng-click="vm.searchProfiles()">
                                    <span class="glyphicon glyphicon-search">
                                      {{ 'TAG_SEARCH' | translate}}
                                    </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 column" ng-show = "!vm.showNewProfile">
                        <div ng-show="vm.error" align="center" style="padding:1%">
                            <div class="alert-info">
                                <h4>{{ 'TAG_USERLIST_ERROR' | translate }}</h4>
                            </div>
                        </div>
                        <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
                            <div class="row text-info" ng-show="vm.allGroups.length===0">
                                <h3>{{ 'TAG_USERLIST_EMPTY' | translate }}</h3>
                            </div>
                            <div class="row" ng-show="vm.allGroups.length > 0">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th width="40%" style="text-align: center">
                                            <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                                {{ 'TAG_NAME' | translate }}
                                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th width="10%" style="text-align: center">
                                            <a href="" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                                                {{ 'TAG_DELETE' | translate }}
                                            </a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="profile in vm.profiles | orderBy:sortType:sortReverse | filter:vm.searchFilter" style="text-align: center">
                                        <td style="text-align:center">
                                            {{ profile.name }}
                                        </td>
                                        <td style="text-align:center">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true" style="cursor: pointer; color: red;" ng-style="{'color':'red'}" ng-click="vm.removeProfile(profile)">
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 column" ng-show = "vm.showNewProfile">
                        <div ng-show="vm.error" align="center" style="padding:1%">
                            <div class="alert-info">
                                <h4>{{ 'TAG_USERLIST_ERROR' | translate }}</h4>
                            </div>
                        </div>
                        <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
                            <div class="row text-info" ng-show="vm.allProfiles.length===0">
                                <h3>{{ 'TAG_USERLIST_EMPTY' | translate }}</h3>
                            </div>
                            <div class="row" ng-show="vm.allProfiles.length > 0">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th width="40%" style="text-align: center">
                                            <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                                {{ 'TAG_NAME' | translate }}
                                                <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th width="10%" style="text-align: center">
                                            <a href="" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                                                {{ 'TAG_PROFILE_ADD' | translate }}
                                            </a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="profileN in vm.allProfiles" style="text-align: center">
                                        <td style="text-align:center">
                                            {{ profileN.name }}
                                        </td>
                                        <td style="text-align:center">
                                            <input type = "checkbox" checklist-model="vm.profilesNew" checklist-value="profileN">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-offset-4">
                <div class="col-md-2" align="center" ng-show = "vm.showNewProfile">
                    <div class="col-md-1 column">
                        <button class="btn btn-warning" ng-click="vm.back()">
                                    <span class="glyphicon glyphicon-step-backward">
                      {{ 'TAG_BACK' | translate}}
                    </span>
                        </button>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-1" align="center" ng-show = "vm.showNewProfile">
                        <div class="col-md-1 column">
                            <button class="btn btn-primary" ng-click="vm.saveProfile()">
                               <span class="glyphicon glyphicon-save">
                                {{ 'TAG_SAVE' | translate}}
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </tab>
    </tabset>
</div>