<div class="row clearfix col-md-12 column title">
	<h3>{{ 'TAG_USERINFO' | translate }}</h3>
</div>
<form name="userForm" ng-submit="vm.editPersonnel()">
  <div class="col-md-12 column">
    <div ng-show="vm.error" align="center">
      <div class="alert-info">
        <h4>{{ 'TAG_USERINFO_ERROR' | translate }}</h4>
      </div>
    </div>
    <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column">
      <div class="row text-info" ng-show="vm.user.length===0">
        <h3>{{ 'TAG_USERINFO_EMPTY' | translate }}</h3>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-6">
          <label>{{ 'TAG_CEDULA' | translate }}</label>
          <input style="width:100%" 
          type="text" class="form-control"
          ng-model="vm.user.cedula" disabled>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-6">
          <label>{{ 'TAG_NAME' | translate }}</label>
          <input style="width:100%" 
          type="text" class="form-control"
          ng-model="vm.user.name"
          id="name"
          name="name"
          ng-pattern="/^[a-zA-z]+$/"
          ng-maxlength = "20"
          placeholder="Pascual Jose" required>
        </div>
      </div>
      <div class="row">
        <div class="error col-md-offset-1 col-md-6"
          ng-show="userForm.name.$dirty && userForm.name.$invalid">
          <small class="error" ng-show="userForm.name.$error.required">
            {{ 'TAG_NAME_ERROR' | translate }}
          </small>
          <small class="error" ng-show="userForm.name.$error.pattern">
            {{ 'TAG_NAME_CHARS' | translate }}
          </small>
          <small class="error" ng-show="userForm.name.$error.maxlength">
            {{ 'TAG_NAME_LENGHT' | translate }}
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-6">
          <label>{{ 'TAG_PHONENUMBER' | translate }}</label>
          <input style="width:100%"
          class="form-control"
          ng-model="vm.user.phone"
          id="phoneNumber"
          name="phoneNumber"
          ng-pattern="/^0([1-9]{3})-([0-9]{7})$/"
          placeholder="0426-7851236">
        </div>
      </div>
      <div class="row">
        <div class="error col-md-offset-1 col-md-6"
          ng-show="userForm.phoneNumber.$invalid">
          <small class="error" ng-show="userForm.phoneNumber.$error.pattern">
            {{ 'TAG_PHONENUMBER_ERROR' | translate }}
          </small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-1 col-md-6">
          <label>{{ 'TAG_EMAIL' | translate }}</label>
          <input type="email" 
          style="width:100%" 
          class="form-control"
          ng-model="vm.user.email"
          id="userEmail"
          name="userEmail"
          placeholder="usuario@farmatodo.ve" required>
        </div>
      </div>
      <div class="row">
        <div class="error col-md-offset-1 col-md-6"
          ng-show="userForm.userEmail.$dirty && userForm.userEmail.$invalid">
          <small class="error" ng-show="userForm.userEmail.$error.required">
          {{ 'TAG_EMAIL_ERROR' | translate }}
          </small>
          <small class="error" ng-show="userForm.userEmail.$error.email">
          {{ 'TAG_EMAIL_FORMAT' | translate }}
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 column">
    <div align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
      <div class="row">
        <div class="col-md-offset-1 col-md-6">
          <button class="btn btn-warning" ng-click="vm.back()">
            <span class="glyphicon glyphicon-chevron-left">
              {{ 'TAG_BACK' | translate }}
            </span>
          </button>
          <button button="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-ok">
              {{ 'TAG_EDIT' | translate }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>