<div class="row clearfix col-md-12 column title">
	<h3>{{ 'TAG_USERLIST' | translate }}</h3>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-2 column">
        <button class="btn btn-primary"
                ng-click="vm.createUser()">
          <span class="glyphicon glyphicon-plus">
              {{ 'TAG_USER_AUTHORIZATION_ADD' | translate }}
          </span>
        </button>
    </div>
</div>
<br><br>

<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-1 column">
                <select ng-model="vm.defaultCategory">
                    <option ng-selected="{{groups.name == vm.defaultCategory}}" ng-repeat="categories in vm.categories" value="{{categories.name}}">{{categories.name}}</option>
                </select>
            </div>
            <div class="col-md-1 column" >
                <select ng-model="vm.defaultGroup" >
                    <option ng-selected="{{groups.name == vm.defaultGroup}}"ng-repeat="groups in vm.groups" value="{{groups.name}}">{{groups.name}}</option>
                </select>
            </div>
            <div class="col-md-2 column">
                <input ng-model="vm.user" type="text" class="form-control" placeholder="Usuario" style="margin-left: 10%">
            </div>
            <div class="col-md-1 column">
                <button class="btn btn-primary" ng-click="vm.searchUsers()">
                    <span class="glyphicon glyphicon-search">
                      {{ 'TAG_SEARCH' | translate}}
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 column">
    <div ng-show="vm.error" align="center" style="padding:1%">
        <div class="alert-info">
            <h4>{{ 'TAG_USERLIST_ERROR' | translate}}</h4>
        </div>
    </div>
    <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
        <div ng-show="vm.searching" align="center" style="padding:1%">
            <div class="row text-info">
                <h3>{{ 'TAG_USERLIST_SEARCHING' | translate }}</h3>
            </div>
        </div>
        <div class="row text-info" ng-show="vm.userList.length===0 && vm.searching === false">
            <h3>{{ 'TAG_USERLIST_EMPTY' | translate}}</h3>
        </div>
        <div class="row" ng-show="vm.userList.length > 0">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th width="10%" style="text-align: center">
                        <a href="" ng-click="sortType = 'cedula'; sortReverse = !sortReverse">
                            {{ 'TAG_USER_IDENTIFIER' | translate }}
                            <span ng-show="sortType == 'cedula' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'cedula' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th width="30%" style="text-align: center">
                        <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            {{ 'TAG_NAME' | translate }}
                            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th width="10%" style="text-align: center">
                        <a href="" ng-click="sortType = 'email'; sortReverse = !sortReverse">
                            {{ 'TAG_USER_EMAIL' | translate }}
                            <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th width="10%" style="text-align: center">
                        <a href="" ng-click="sortType = 'status'; sortReverse = !sortReverse">
                            {{ 'TAG_STATUS' | translate }}
                            <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th width="10%" style="text-align: center">
                      <a href="" ng-click="sortType = 'role'; sortReverse = !sortReverse">
                        Grupos
                        <span ng-show="sortType == 'role' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'role' && sortReverse" class="fa fa-caret-up"></span>
                      </a>
                    </th>
<!--                    <th width="10%" style="text-align: center">
                        <a href="" ng-click="sortType = 'funcionalidades'; sortReverse = !sortReverse">
                            {{ 'TAG_USER_FUNCTIONS' | translate }}
                            <span ng-show="sortType == 'funcionalidades' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'funcionalidades' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>-->
                    <th width="10%" style="text-align: center">
                        <a href="" ng-click="sortType = 'lastConection'; sortReverse = !sortReverse">
                            {{ 'TAG_USER_LASTCONECTION' | translate }}
                            <span ng-show="sortType == 'lastConection' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'lastConection' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <!--            <th width="15%" style="text-align: center">
                                  {{ 'TAG_EDIT' | translate }}
                                </th>-->
                    <th width="15%" style="text-align: center">
                        {{ 'TAG_ACTIVATE' | translate }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.userList | orderBy:sortType:sortReverse" style="text-align: center">
                    <td style="text-align:center">
                        {{ user.cedula }}
                    </td>
                    <td style="text-align:center">
                        <a href="" ng-click="vm.showDetail(user)">
                            {{ user.name }}
                        </a>
                    </td>
                    <td style="text-align:center">
                        {{ user.email }}
                    </td>
                    <td style="text-align:center">
                        {{ user.status }}
                    </td>
                    <td style="text-align:center">
                        {{ user.grupos }}
                    </td>
<!--                    <td style="text-align:center">
                        {{ user.funcionalidades }}
                    </td>-->
                    <td style="text-align:center">
                        {{ user.lastConection }}
                    </td>
                    <!--              <td style="text-align:center" >
                                    <span class="glyphicon glyphicon-edit"
                                      aria-hidden="true"
                                      style="cursor:pointer"
                                      ng-disabled="true"
                                      ng-click="vm.userEdit(user)">
                                    </span>
                                  </td>-->
                    <td style="text-align:center" >
                        <span class="glyphicon glyphicon-off"
                              aria-hidden="true"
                              style="cursor:pointer"
                              ng-style="user.status==='Autorizado' ? {'color':'green'} :  {'color':'red'}"
                              ng-click="vm.userStatusModal(user)">
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
