<div class="row clearfix col-md-12 column title">
	<h3>{{ 'TAG_USER_AUTHORIZATION' | translate }}</h3>
</div>
<form name="userForm" ng-submit="vm.submit()">
    <div class="col-md-12 column">
        <div align="center" class="col-md-9 col-md-offset-3 column">
              <div class="row">
                  <br><br><br>
                  <div class="col-md-offset-1 col-md-6">
                      <label>{{ 'TAG_USER_IDENTIFIER' | translate }}</label>
                      <input style="width:100%"
                      type="text" class="form-control"
                      ng-model="vm.user.name"
                      id="name"
                      name="name"
                      ng-pattern="/^[a-zA-z0-9]+$/"
                      ng-maxlength = "20"
                      placeholder="User4325" required>
                  </div>
              </div>
              <div class="row">
                  <div class="error col-md-offset-1 col-md-6"
                       ng-show="userForm.name.$dirty && userForm.name.$invalid">
                      <small class="error" ng-show="userForm.name.$error.required">
                          {{ 'TAG_NAME_ERROR' | translate }}
                      </small>
                      <small class="error" ng-show="userForm.name.$error.pattern">
                          {{ 'TAG_NAME_CHARS' | translate }}
                      </small>
                      <small class="error" ng-show="userForm.name.$error.maxlength">
                          {{ 'TAG_NAME_LENGHT' | translate }}
                      </small>
                  </div>
              </div>
        </div>
    </div>
    <div class="col-md-12 column">
        <div align="center" class="col-md-9 col-md-offset-3 column" style="padding:1%">
            <div class="row">
                <div class="col-md-offset-1 col-md-6">
                    <button button="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-ok">
                        {{ 'TAG_AUTHORIZATION' | translate }}
                        </span>
                    </button>
                    <button class="btn btn-warning" ng-click="vm.back()">
                        <span class="glyphicon glyphicon-chevron-left">
                            {{ 'TAG_BACK' | translate }}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>