<div class="row clearfix col-md-12 column title">
    <h3>{{ 'TAG_TEAMLIST' | translate }}</h3>
</div>

<div class = "row">
<div class="col-md-offset-1 col-md-4 column">
    <button class="btn btn-primary"
            ng-click="vm.createTeam()">
      <span class="glyphicon glyphicon-plus">
        {{ 'TAG_TEAM_ADD' | translate }}
      </span>
    </button>
</div>
</div>
<br><br>
<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div class=" col-md-offset-4 col-md-2 column">
                <input ng-model="vm.name" type="text" class="form-control" placeholder="{{'TAG_TEAM' | translate}}" style="margin-left: 10%">
            </div>
            <div class="col-md-1 column">
                <button class="btn btn-primary" ng-click="vm.searchTeams()">
                    <span class="glyphicon glyphicon-search">
                      {{ 'TAG_SEARCH' | translate}}
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>




<div class="col-md-12 column">
    <div ng-show="vm.error" align="center" style="padding:1%">
        <div class="alert-info">
            <h4>{{ 'TAG_USERLIST_ERROR' | translate }}</h4>
        </div>
    </div>
    <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
        <div ng-show="vm.searching" align="center" style="padding:1%">
            <div class="row text-info">
                <h3>{{ 'TAG_USERLIST_SEARCHING' | translate }}</h3>
            </div>
        </div>
        <div class="row text-info" ng-show="vm.teams.length===0 && vm.searching === false" >
            <h3>{{ 'TAG_USERLIST_EMPTY' | translate }}</h3>
        </div>
        <div class="row" ng-show="vm.teams.length > 0">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th width="10%" style="text-align: center">
                        <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                            {{ 'TAG_TEAM' | translate }}
                            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>

                    <th width="10%" style="text-align: center">
                        <a href="" ng-click="sortType = 'users'; sortReverse = !sortReverse">
                            {{ 'TAG_USERS' | translate }}
                            <span ng-show="sortType == 'users' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'users' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th width="10%" style="text-align: center">
                        <a href="" ng-click="sortType = 'profiles'; sortReverse = !sortReverse">
                            {{ 'TAG_PROFILES' | translate }}
                            <span ng-show="sortType == 'profiles' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'profiles' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="team in vm.teams | orderBy:sortType:sortReverse" style="text-align: center">

                    <td style="text-align:center">
                        <a href="" ng-click="vm.showDetail(team)">
                            {{ team.name }}
                        </a>
                    </td>
                    <td style="text-align:center">

                            {{team.users}}

                    </td>
                    <td style="text-align:center">

                            {{team.profiles}}

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>