
<br/>

<tabset active="active">


    <tab index="0" heading="{{ 'TAG_NAME' | translate }}">

      <div class="tab-container">
            <div class="row clearfix col-md-12 column title">
             <h3>{{ 'TAG_TEAM_ADD' | translate }}</h3>
          </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-5">
                            <label>{{ 'TAG_NAME' | translate }}</label>
                            <input style="width:100%"
                                   type="text" class="form-control"
                                   ng-model="vm.teamName"
                                   id="teamName"
                                   name="teamName"
                                   ng-pattern="/^[a-zA-z0-9]+$/"
                                   ng-maxlength = "20"
                                   placeholder="{{ 'TAG_TEAM' | translate }}" required>

                            </input>

                        </div>

                    </div>
            <div class="col-md-12 column">
                <div align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">

                </div>
            </div>
        </div>
    </tab>

<!--    <tab index="1" heading=" {{ 'TAG_USERS' | translate }}">
        <div class="tab-container">
            <div class="row clearfix col-md-12 column title">
                <h3>{{ 'TAG_TEAM_ASSOCIATTE_USERS' | translate }}</h3>
            </div>
            <div class="col-md-12 column">
                <div ng-show="vm.error" align="center">
                    <div class="alert-info">
                        <h4>{{ 'TAG_USERINFO_ERROR' | translate }}</h4>
                    </div>
                </div>
                <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column">
                    <div class="row text-info" ng-show="vm.users.name.length===0">
                        <h3>{{ 'TAG_USER_EMPTY' | translate }}</h3>
                    </div>
&lt;!&ndash;                     <div class="row"ng-show="vm.users.length !== 0">
                            <div class="col-md-offset-1 col-md-6">
                                <select ng-model="vm.seleccion" ng-change ="vm.llenar()">
                                    <option  ng-repeat="user in vm.users" value="{{user.name}}" >{{user.name}}</option>

                                </select>
                                <br>
                                <br>
                                <br>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th width="10%" style="text-align: center">
                                            <a>
                                                {{ 'TAG_USERS' | translate }}
                                            </a>
                                        </th>
                                     </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat ="user in vm.listUser">
                                    <td style="text-align:center">
                                        {{ user }}
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>
                             </div>&ndash;&gt;
                    <div class="row"ng-show="vm.users.length !== 0">

                        <div class="col-md-offset-1 col-md-6">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th width="10%" style="text-align: center">
                                        <a>
                                            {{ 'TAG_USER_IDENTIFIER' | translate }}

                                        </a>
                                    </th>
                                    <th width="10%" style="text-align: center">
                                        <a>
                                            {{ 'TAG_NAME' | translate }}
                                        </a>
                                    </th>
                                    <th width="10%" style="text-align: center">
                                        <a>
                                            {{ 'TAG_ADD' | translate }}
                                        </a>
                                    </th>
                                </tr>



                                </thead>
                                <tbody>
                                <tr ng-repeat ="user in vm.users">

                                    <td style="text-align:center">
                                        {{ user.cedula }}
                                    </td>
                                    <td style="text-align:center">
                                        {{ user.name }}
                                    </td>
                                    <td style="text-align:center">
                                        <input ng type="checkbox">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                      </div>
                </div>
            </div>
        </div>
    </tab>

    <tab index="2" heading="{{ 'TAG_PROFILES' | translate }}">
    <div class="tab-container">
        <div class="row clearfix col-md-12 column title">
            <h3>{{ 'TAG_TEAM_ASSOCIATTE_PROFILES' | translate }}</h3>
        </div>
        <div class="col-md-12 column">
            <div ng-show="vm.error" align="center">
                <div class="alert-info">
                    <h4>{{ 'TAG_USERFUNCTIONALITIES_ERROR' | translate }}</h4>
                </div>
            </div>
            <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column">
                <div class="row text-info" ng-show="vm.profile.functionalities.length===0">
                    <h3>{{ 'TAG_USERFUNCTIONALITIES_EMPTY' | translate }}</h3>
                </div>
                <div class="row" ng-show="vm.profile.functionalities.length!==0">
                    <div class="col-md-offset-1 col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="functionality in vm.profile.functionalities">
                                {{functionality}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 column">
            <div align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">

            </div>
        </div>
    </div>
    </tab>-->

</tabset>
<br>
<br>
<br>

<div class="col-md-12 column">
    <div align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
        <div class="row">
            <div class="col-md-offset-1 col-md-6">
                <button class="btn btn-warning" ng-click="vm.back()">
        <span class="glyphicon glyphicon-chevron-left">
        {{ 'TAG_BACK' | translate }}
        </span>
                </button>

                <button ng-click=" vm.submit()" ng-disabled="vm.teamName == null" class="btn btn-primary">
      <span class="glyphicon glyphicon-ok">
        {{ 'TAG_CREATE' | translate }}
      </span>
                </button>
            </div>
        </div>
    </div>
</div>
