<div class="row clearfix col-md-12 column title">
    <h3>{{ 'TAG_DETAIL_GROUP' | translate }}</h3>
</div>
<tabset active="active">
    <tab index ="0"  heading="{{'TAG_SIDEBAR_GENERAL' | translate}}">
        <div class="col-md-offset-4 col-md-3" style="text-align: center">
            <br>
            <br>
            <br>
            <label>{{ 'TAG_NAME' | translate }}</label>
            <input style="width:100%; text-align: center;"
                   type="text" class="form-control"
                   ng-model="vm.group.name"
                   id="name"
                   name="name"
                   ng-maxlength = "20"
                   placeholder="Grupo">
            <br>
            <div class="col-md-12 column">
                <div align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">
                            <button class="btn btn-primary" ng-click="vm.submit()">
                            <span class="glyphicon glyphicon-save ng-binding">
                              {{ 'TAG_SAVE' | translate }}
                            </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
    <tab index ="1"  heading="{{'TAG_SIDEBAR_USERS' | translate}}">
        <div class="row">
<!-- ___________________________________________Agregar usuario y boton de busqueda________________________________________________________________________-->
            <div class="col-md-offset-1" align="center" ng-show = "!vm.newUser">
                <br>
                <div class="col-md-1 column">
                    <button class="btn btn-primary" ng-click="vm.addUser()">
                    <span class="glyphicon glyphicon-plus">
                      {{ 'TAG_USER_ADD' | translate}}
                    </span>
                    </button>
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col-md-offset-4" align="center" ng-show = "!vm.newUser">
                <div class="col-md-3 column">
                    <input ng-model="vm.usuario" type="text" class="form-control" placeholder="Usuario" style="margin-left: 10%">
                </div>
                <div class="col-md-1 column">
                    <button class="btn btn-primary" ng-click="vm.searchUsers()">
                    <span class="glyphicon glyphicon-search">
                      {{ 'TAG_SEARCH' | translate}}
                    </span>
                    </button>
                </div>
            </div>
<!-- ___________________________________________Agregar usuario y boton de busqueda________________________________________________________________________-->

<!-- ________________________________________________________Se levanta cuando se crea un nuevo usuario___________________________________________________________-->

            <div style="margin-left: 10%;" ng-show = "vm.newUser">
                <br>
                <h3>{{ 'TAG_USER_ADD' | translate }}</h3>
                <br>
            </div>
            <div class="vertical-center" ng-show = "vm.newUser">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-1 column">
                            <select ng-model="vm.defaultCategory">
                                <option ng-selected="{{groups.name == vm.defaultCategory}}" ng-repeat="categories in vm.categories" value="{{categories.name}}">{{categories.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-1 column" >
                            <select ng-model="vm.defaultGroup" >
                                <option ng-selected="{{groups.name == vm.defaultGroup}}"ng-repeat="groups in vm.groups" value="{{groups.name}}">{{groups.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 column">
                            <input ng-model="vm.user1" type="text" class="form-control" placeholder="Usuario" style="margin-left: 10%">
                        </div>
                        <div class="col-md-1 column">
                            <button class="btn btn-primary" ng-click="vm.searchUsers()">
                                <span class="glyphicon glyphicon-plus">
                                  {{ 'TAG_SEARCH' | translate}}
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
<!-- __________________________________________________Se levanta cuando se crea un nuevo usuario_________________________________________________________________-->
         </div>
<!-- ________________________________________________Tabla de contenido de usuarios___________________________________________________________________-->
        <div class="col-md-12 column">
            <div ng-show="vm.error" align="center" style="padding:1%">
                <div class="alert-info">
                    <h4>{{ 'TAG_USERLIST_ERROR' | translate }}</h4>
                </div>
            </div>
            <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
                <div class="row text-info" ng-show="vm.usersGroup.length===0">
                    <h3>{{ 'TAG_USERLIST_EMPTY' | translate }}</h3>
                </div>
                <div ng-show="vm.searching" align="center" style="padding:1%">
                    <div class="row text-info">
                        <h3>{{ 'TAG_USERLIST_SEARCHING' | translate }}</h3>
                    </div>
                </div>
                <div class="row" ng-show="vm.usersGroup.length > 0">
<!-- ________________________________________________Tabla de usuarios por defecto___________________________________________________________________-->
                    <table class="table table-bordered table-striped" ng-show = "!vm.newUser && !vm.searching">
                        <thead>
                        <tr>
                            <th width="10%" style="text-align: center">
                                <a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                    {{ 'TAG_USER_IDENTIFIER' | translate }}
                                    <span ng-show="sortType == 'cedula' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'cedula' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="30%" style="text-align: center">
                                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                    {{ 'TAG_NAME' | translate }}
                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="10%" style="text-align: center">
                                <a href="" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                                    {{ 'TAG_DELETE' | translate }}
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in vm.usersGroup | orderBy:sortType:sortReverse | filter:vm.searchFilter" style="text-align: center">
                            <td style="text-align:center">
                                {{ user.cedula }}
                            </td>
                            <td style="text-align:center">
                                {{ user.name }}
                            </td>
                            <td style="text-align:center">
                                    <span class="glyphicon glyphicon-remove"
                                          aria-hidden="true"
                                          style="cursor:pointer"
                                          ng-style="{'color':'red'}"
                                          ng-click="vm.removeUser(user)">
                                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
<!-- ________________________________________________Tabla de usuarios por defecto___________________________________________________________________-->

<!-- ________________________________________________Tabla de  nuevo usuario___________________________________________________________________-->
                    <table class="table table-bordered table-striped" ng-show = "vm.newUser && !vm.searching">
                        <thead>
                        <tr>
                            <th width="10%" style="text-align: center">
                                <a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                    {{ 'TAG_USER_IDENTIFIER' | translate }}
                                    <span ng-show="sortType == 'cedula' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'cedula' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="20%" style="text-align: center">
                                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                    {{ 'TAG_NAME' | translate }}
                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="20%" style="text-align: center">
                                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                    {{ 'TAG_USER_EMAIL' | translate }}
                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                </a>

                            </th>
                            <th width="10%" style="text-align: center">
                                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                    {{ 'TAG_STATUS' | translate }}
                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                </a>

                            </th>
                            <th width="10%" style="text-align: center">
                                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                    {{ 'TAG_TEAM' | translate }}
                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="30%" style="text-align: center">
                                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                    {{ 'TAG_USER_LASTCONECTION' | translate }}
                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="10%" style="text-align: center">
                                <a href="" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                                    {{ 'TAG_ADD' | translate }}
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="user in vm.allUsers | orderBy:sortType:sortReverse | filter:vm.searchFilter" style="text-align: center">
                            <td style="text-align:center">
                                {{ user.cedula }}
                            </td>
                            <td style="text-align:center">
                                {{ user.name }}
                            </td >
                            <td style="text-align:center">
                                {{user.email}}
                            </td>
                            <td style="text-align:center">
                                {{user.status}}
                            </td>
                            <td style="text-align:center">
                                {{user.grupos}}
                            </td>
                            <td style="text-align:center">
                                {{user.lastConection}}
                            </td>

                            <td style="text-align:center">
                                <input type="checkbox" ng-model="user.selected"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
<!-- ________________________________________________Tabla de  nuevo usuario___________________________________________________________________-->
                </div>
            </div>
            <div class="col-md-12 column" ng-show = "vm.newUser">
                <div align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
                    <div class="row">
                        <button class="btn btn-primary" ng-click="vm.agregarUser()">
                            <span class="glyphicon glyphicon-plus">
                              {{ 'TAG_ADD' | translate }}
                            </span>
                        </button>
                        <button class="btn btn-danger" ng-click="vm.back()">
                            <span class="glyphicon glyphicon-remove">
                                {{ 'TAG_CANCEL' | translate}}
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
<!-- ________________________________________________Tabla de contenido de usuarios___________________________________________________________________-->
    </tab>
    <tab index ="2"  heading="{{'TAG_SIDEBAR_PROFILES'| translate }}">
    <br>
    <div class="col-md-offset-1 col-md-4 column" ng-show="!vm.profileNew">
        <div >
            <button class="btn btn-primary" ng-click="vm.addNewProfile()">
                <span class="glyphicon glyphicon-plus">
                    {{ 'TAG_NEW_PROFILE' | translate}}
                </span>
            </button>
        </div>
    </div>
    <div ng-show="vm.profileNew">
        <div style="margin-left: 10%;">
            <h3>{{ 'TAG_NEW_PROFILE' | translate }}</h3>
        </div>
        <div class=" col-md-offset-4 col-md-2 column">
            <input ng-model="vm.name" type="text" class="form-control" placeholder="{{'TAG_PROFILE' | translate}}" style="margin-left: 10%">
        </div>
        <div class="col-md-1 column">
            <button class="btn btn-primary" ng-click="vm.searchProfiles()">
                <span class="glyphicon glyphicon-search">
                    {{ 'TAG_SEARCH' | translate}}
                </span>
            </button>
        </div>
        <div class="col-md-12 column">
            <div ng-show="vm.error" align="center" style="padding:1%">
                <div class="alert-info">
                    <h4>{{ 'TAG_PROFILESLIST_ERROR' | translate }}</h4>
                </div>
            </div>
            <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
                <div ng-show="vm.searching" align="center" style="padding:1%">
                    <div class="row text-info">
                        <h3>{{ 'TAG_USERLIST_SEARCHING' | translate }}</h3>
                    </div>
                    <div class="row text-info" ng-show="vm.profilesList.length === 0 && vm.searching === false" >
                        <h3>{{ 'TAG_USERLIST_EMPTY' | translate }}</h3>
                    </div>
                </div>
                <br>
                <div class="row"  ng-show="!vm.searching">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="10%" style="text-align: center">
                                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                    {{ 'TAG_PROFILE' | translate }}
                                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="10%" style="text-align: center">
                                <a href="" ng-click="sortType = 'permission'; sortReverse = !sortReverse">
                                    {{ 'TAG_PROFILE_PERMISSION' | translate }}
                                    <span ng-show="sortType == 'permission' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'permission' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th width="10%" style="text-align: center">
                                <a href="" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                                    {{ 'TAG_ADD' | translate }}
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat =" profiles in vm.profilesList | orderBy:sortType:sortReverse" style="text-align: center">
                            <td style="text-align: center ">
                                {{profiles.name}}
                            </td>
                            <td style="text-align: center">
                                {{profiles.permission}}
                            </td>

                            <td>
                                <input type="checkbox" data-checklist-model="vm.groupProfiles"  data-checklist-value="profiles ">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6">
                                <button ng-click=" vm.submit1()" ng-disabled = "vm.groupProfiles == 0"  class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus">{{ 'TAG_ADD' | translate }}
                                    </span>
                                </button>
                                <button class="btn btn-danger" ng-click="vm.back2()">
                                    <span class="glyphicon glyphicon-remove">
                                        {{ 'TAG_CANCEL' | translate }}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="!vm.profileNew">
            <div class="col-md-12 column">
                <br>
                <div class=" col-md-offset-4 col-md-2 column">
                    <input ng-model="vm.name" type="text" class="form-control" placeholder="{{'TAG_PROFILE' | translate}}" style="margin-left: 10%">
                </div>
                <div class="col-md-1 column">
                    <button class="btn btn-primary" ng-click="vm.searchProfiles()">
                <span class="glyphicon glyphicon-search">
                    {{ 'TAG_SEARCH' | translate}}
                </span>
                    </button>
                </div>
                <div ng-show="vm.error" align="center" style="padding:1%">
                    <div class="alert-info">
                        <h4>{{ 'TAG_USERLIST_ERROR' | translate }}</h4>
                    </div>
                </div>
                <div ng-show="!vm.error" align="center" class="col-md-10 col-md-offset-1 column" style="padding:1%">
                    <div class="row text-info" ng-show="vm.allProfiles.length===0">
                        <h3>{{ 'TAG_USERLIST_EMPTY' | translate }}</h3>
                    </div>
                    <div ng-show="vm.searching" align="center" style="padding:1%">
                        <div class="row text-info">
                            <h3>{{ 'TAG_USERLIST_SEARCHING' | translate }}</h3>
                        </div>
                    </div>
                    <div class="row" ng-show="vm.allProfiles.length > 0 && !vm.searching ">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th width="10%" style="text-align: center">
                                    <a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                                        {{ 'TAG_USER_IDENTIFIER' | translate }}
                                        <span ng-show="sortType == 'cedula' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'cedula' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th width="30%" style="text-align: center">
                                    <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                        {{ 'TAG_NAME' | translate }}
                                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </th>
                                <th width="10%" style="text-align: center">
                                    <a href="" ng-click="sortType = 'active'; sortReverse = !sortReverse">
                                        {{ 'TAG_DELETE' | translate }}
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="profile in vm.allProfiles | orderBy:sortType:sortReverse | filter:vm.searchFilter" style="text-align: center">
                                <td style="text-align:center">
                                    {{ profile.id }}
                                </td>
                                <td style="text-align:center">
                                    {{ profile.name }}
                                </td>
                                <td style="text-align:center">
                                    <span class="glyphicon glyphicon-remove"
                                          aria-hidden="true"
                                          style="cursor:pointer"
                                          ng-style="{'color':'red'}"
                                          ng-click="vm.removeProfile(profile)">
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>