<div class="modal-header" align="center">
  <h3 class="modal-title">Guardando perfiles</h3>
</div>
<div style="text-align: center" class="modal-body">
  <div ng-show = "vm.process" align="center"> <h2>Guardando cambio en los perfiles</h2> </div>
  <div ng-show = "vm.success" align="center"> Cambios guardados </div>
</div>
<div class="modal-footer" ng-show = "vm.success">
  <button 
  class="btn btn-primary"  
  type="button" 
  ng-click="vm.ok()">
    <span class="glyphicon glyphicon-ok">
      {{ 'TAG_ACCEPT' | translate }}
    </span>
  </button>
</div>