<div class="modal-header">
  <h3 class="modal-title">{{ 'TAG_USER_AUTHORIZATION' | translate }}</h3>
</div>
<div style="text-align: center" class="modal-body">
  
  <div ng-show="vm.process"> {{ 'TAG_USER_REGISTER_PROCESS' | translate }} </div>
  <div ng-if="vm.success"> {{ 'TAG_USER_REGISTER_SUCCESS' | translate }} </div>
  <div ng-if="vm.failure"> {{ 'TAG_USER_REGISTER_FAILURE' | translate }} </div>
  <div ng-if="vm.authorized"> {{ 'TAG_USER_REGISTER_AUTHORIZED' | translate }} </div>
  <div ng-if="vm.nonexistent"> {{ 'TAG_USER_REGISTER_NONEXISTENT' | translate }} </div>

</div>
<div class="modal-footer"align="center">
  <button 
  class = "btn btn-primary" 
  ng-show="vm.button" 
  type="button" 
  ng-click="vm.ok()">
    <span class="glyphicon glyphicon-ok">
    	{{ 'TAG_ACCEPT' | translate }}
    </span>
  </button>
</div>