<div class="modal-header" align="center">
    <h3 class="modal-title">Agregar/Eliminar perfiles</h3>
</div>
<div style="text-align: center" class="modal-body">
    <div align="center" ng-show="!vm.successProfile">
        ¿Está seguro que quiere guardar los cambios?
    </div>
    <div align="center" ng-show = "vm.successProfile">
        Perfil(es) agregado(s) exitosamente
    </div>

</div>
<div class="modal-footer">
    <div class="col-md-12">
        <button
                class="btn btn-warning"
                type="button"
                ng-click="vm.ok()">
            <span class="glyphicon glyphicon-step-backward">
              {{ 'TAG_BACK' | translate }}
            </span>
        </button>
        <button
                class="btn btn-primary"
                type="button"
                ng-click="vm.addProfile()" ng-show="!vm.successProfile>
                        <span class="glyphicon glyphicon-ok">
                          {{ 'TAG_ACCEPT' | translate }}
                        </span>
        </button>
    </div>
</div>