<div class="modal-header" align="center">
    <h3 class="modal-title">Eliminar Perfil</h3>
</div>
<div style="text-align: center" class="modal-body">
    <div align="center" ng-show="!vm.success">
        ¿Desea eliminar el perfil?
    </div>
    <div align="center" ng-show = "vm.success">
        Perfil eliminado correctamente
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12">
        <button
                class="btn btn-primary"
                type="button"
                ng-click="vm.deleteProfile(profile)">
            <span class="glyphicon glyphicon-ok">
              {{ 'TAG_ACCEPT' | translate }}
            </span>
        </button>
        <button
                class="btn btn-danger"
                type="button"
                ng-click="vm.ok()">
            <span class="glyphicon glyphicon-remove">
              {{ 'TAG_CANCEL' | translate }}
            </span>
        </button>
    </div>
</div>