<div class="modal-header" align="center">
    <h3 class="modal-title">{{ 'TAG_ADD_COUNTRY' | translate}}</h3>
</div>
<div style="text-align: center" class="modal-body">
    <div align="center" ng-show="!vm.successCountry">
        {{ 'TAG_QUESTION_CHANGE' | translate}}
    </div>
    <div align="center" ng-show = "vm.successCountry">
        {{ 'TAG_MESSAGE_COUNTRY' | translate}}
    </div>

</div>
<div class="modal-footer">
    <div class="col-md-12">
        <button
                class="btn btn-primary"
                type="button"
                ng-click="vm.addGroup()" ng-show="!vm.successCountry">
                <span class="glyphicon glyphicon-ok">
                {{ 'TAG_ACCEPT' | translate }}
                </span>
        </button>
        <button
                class="btn btn-danger"
                type="button"
                ng-click="vm.ok()">
                <span class="glyphicon glyphicon-remove">
                  {{ 'TAG_CANCEL' | translate }}
                </span>
        </button>
    </div>
</div>
